<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.clives.indigoplugin.evohomecontrol</string>
    <key>CFBundleName</key>
    <string>EvoHomeControl</string>
    <key>CFBundleDisplayName</key>
    <string>EvoHome Heating Controller</string>
    <key>CFBundleShortVersionString</key>
    <string>1.3</string>
    <key>CFBundleVersion</key>
    <string>1.3</string>
    <key>CFBundleExecutable</key>
    <string>plugin.py</string>
    <key>ServerApiVersion</key>
    <string>3.0</string>
    <key>IwsApiVersion</key>
    <string>1.0.0</string>
    <key>PluginVersion</key>
    <string>1.3</string>
    <key>CFBundleURLTypes</key>
    <array/>
    <key>GithubInfo</key>
    <dict>
        <key>Owner</key>
        <string>Highsteads</string>
        <key>Repo</key>
        <string>EvoHomeControl</string>
    </dict>
</dict>
</plist>
